<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MISD.Client.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MISD.Client.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClientWebService" />
                <binding name="BasicHttpBinding_IClientWebService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://acid.visus.uni-stuttgart.de:8001/clientWebService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientWebService"
                contract="Synchronization.IClientWebService" name="BasicHttpBinding_IClientWebService" />
            <endpoint address="http://acid.visus.uni-stuttgart.de:8001/clientWebService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientWebService1"
                contract="Synchronization.IClientWebService" name="BasicHttpBinding_IClientWebService1" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <MISD.Client.Model.Properties.Settings>
            <setting name="PluginFileBase" serializeAs="String">
                <value>MISD.Plugins.Visualization.</value>
            </setting>
            <setting name="MonitoredSystemInterval" serializeAs="String">
                <value>00:00:05</value>
            </setting>
            <setting name="PluginInterval" serializeAs="String">
                <value>00:00:30</value>
            </setting>
            <setting name="SettingsInterval" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="PluginPath" serializeAs="String">
                <value>Plugins</value>
            </setting>
        </MISD.Client.Model.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MISD.Client.Model.Properties.Settings>
            <setting name="ServerPort" serializeAs="String">
                <value>3001</value>
            </setting>
        </MISD.Client.Model.Properties.Settings>
    </userSettings>
</configuration>