<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MISD.Workstation.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MISD.Workstation.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <MISD.Workstation.Windows.Properties.Settings>
            <setting name="pluginPath" serializeAs="String">
                <value>\plugins</value>
            </setting>
        </MISD.Workstation.Windows.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IWorkstationWebService" closeTimeout="00:01:00"
              openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
              allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
              maxBufferSize="10485760" maxBufferPoolSize="10485760" maxReceivedMessageSize="10485760"
              messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
              useDefaultWebProxy="true">
            <readerQuotas maxDepth="32" maxStringContentLength="10485760" maxArrayLength="10485760"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="None">
              <transport clientCredentialType="None" proxyCredentialType="None"
                  realm="" />
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
        </basicHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://acid.visus.uni-stuttgart.de:8002/workstationWebService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorkstationWebService"
                contract="WSWebService.IWorkstationWebService" name="BasicHttpBinding_IWorkstationWebService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <MISD.Workstation.Windows.Properties.Settings>
            <setting name="pluginFileBase" serializeAs="String">
                <value>MISD.Plugins.Windows.</value>
            </setting>
        </MISD.Workstation.Windows.Properties.Settings>
    </userSettings>
</configuration>
