<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MISD.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MISD.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MISD.Server.Properties.Settings.MISDConnectionString"
      connectionString="Data Source=acid.visus.uni-stuttgart.de;Initial Catalog=MISD;Persist Security Info=True;User ID=stupro;Password=C0mplex"
      providerName="System.Data.SqlClient" />
    <add name="MISD.Server.Properties.Settings.MISDConnectionString1"
      connectionString="Data Source=acid.visus.uni-stuttgart.de;Initial Catalog=MISD;User ID=stupro;Password=C0mplex"
      providerName="System.Data.SqlClient" />
    <add name="MISD.Server.Properties.Settings.MISDConnectionString2"
      connectionString="Data Source=ACID;Initial Catalog=MISD;Persist Security Info=True;User ID=sa;Password=C0mplex"
      providerName="System.Data.SqlClient" />
    <add name="MISD.Server.Properties.Settings.MISDConnectionString3"
      connectionString="Data Source=acid.visus.uni-stuttgart.de;Initial Catalog=MISD;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <MISD.Server.Properties.Settings>
      <setting name="MailHost" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="MailPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="MailAdressFrom" serializeAs="String">
        <value>misd.owl.mailer@gmail.com</value>
      </setting>
      <setting name="MailAdressFromPW" serializeAs="String">
        <value>stupr[]M1SD</value>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultOU" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="MISDDirectory" serializeAs="String">
        <value>C:\Program Files (x86)\MISD</value>
      </setting>
      <setting name="TemplatePath" serializeAs="String">
        <value>Email\Templates\WarningMailTemplate.txt</value>
      </setting>
      <setting name="CleanerTakeCount" serializeAs="String">
        <value>8192</value>
      </setting>
      <setting name="CleanerJobInterval" serializeAs="String">
        <value>1.00:00:00</value>
      </setting>
      <setting name="MainUpdateInterval" serializeAs="String">
        <value>00:15:00</value>
      </setting>
      <setting name="MailFromDisplayName" serializeAs="String">
        <value>MISD OWL - Tagesbericht</value>
      </setting>
      <setting name="DailyMailSubject" serializeAs="String">
        <value>Tagesbericht</value>
      </setting>
      <setting name="WarningMailSubject" serializeAs="String">
        <value>Warnung</value>
      </setting>
      <setting name="WarningMailFromDisplayName" serializeAs="String">
        <value>MISD OWL - Warnung</value>
      </setting>
    </MISD.Server.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <MISD.Server.Properties.Settings>
      <setting name="PluginPath" serializeAs="String">
        <value>Plugins/</value>
      </setting>
      <setting name="PluginPathWorkstationWindows" serializeAs="String">
        <value>Plugins\Workstation\Windows</value>
      </setting>
      <setting name="PluginPathWorkstationLinux" serializeAs="String">
        <value>Plugins\Workstation\Linux</value>
      </setting>
      <setting name="PluginPathClusterBright" serializeAs="String">
        <value>Plugins\Cluster\Bright</value>
      </setting>
      <setting name="PluginPathClusterHPC" serializeAs="String">
        <value>Plugins\Cluster\HPC</value>
      </setting>
      <setting name="PluginPathServer" serializeAs="String">
        <value>Plugins\Server</value>
      </setting>
      <setting name="DailyMailInterval" serializeAs="String">
        <value>1.00:00:00</value>
      </setting>
      <setting name="PluginPathVisualization" serializeAs="String">
        <value>Plugins\Visualization</value>
      </setting>
    </MISD.Server.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ClientWebServiceDefaultBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="WorkstationWebServiceDefaultBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="ClientWebServiceDefaultBinding" closeTimeout="00:01:00"
                 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                 maxBufferSize="10485760" maxBufferPoolSize="10485760" maxReceivedMessageSize="10485760"
                 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                 useDefaultWebProxy="true">
          <readerQuotas maxDepth="10485760" maxStringContentLength="10485760" maxArrayLength="10485760"
                        maxBytesPerRead="10485760" maxNameTableCharCount="10485760" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WorkstationWebServiceDefaultBinding" closeTimeout="00:01:00"
         openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
         allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
         maxBufferSize="10485760" maxBufferPoolSize="10485760" maxReceivedMessageSize="10485760"
         messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
         useDefaultWebProxy="true">
          <readerQuotas maxDepth="10485760" maxStringContentLength="10485760" maxArrayLength="10485760"
                        maxBytesPerRead="10485760" maxNameTableCharCount="10485760" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="MISD.Server.Services.ClientWebService" behaviorConfiguration="ClientWebServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding"
                  bindingConfiguration="ClientWebServiceDefaultBinding"
                  contract="MISD.Server.Services.IClientWebService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://acid.visus.uni-stuttgart.de:8001/clientWebService" />
          </baseAddresses>
        </host>
      </service>
      <service name="MISD.Server.Services.WorkstationWebService" behaviorConfiguration="WorkstationWebServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding"
                  bindingConfiguration="WorkstationWebServiceDefaultBinding"
                  contract="MISD.Server.Services.IWorkstationWebService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://acid.visus.uni-stuttgart.de:8002/workstationWebService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="false"
                      logMessagesAtTransportLevel="true" maxMessagesToLog="3000" maxSizeOfMessageToLog="100000000"/>
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\init.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
