<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MISD.Server.Performancetest.Properties.Settings.MISDConnectionString3" connectionString="Data Source=acid.visus.uni-stuttgart.de;Initial Catalog=MISD;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
