<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MISD.DatabaseTest.Properties.Settings.MISDConnectionString"
            connectionString="Data Source=acid.visus.uni-stuttgart.de;Initial Catalog=MISD;Persist Security Info=True;User ID=stupro"
            providerName="System.Data.SqlClient" />
        <add name="MISD.DatabaseTest.Properties.Settings.MISDConnectionString1"
            connectionString="Data Source=acid.visus.uni-stuttgart.de;Initial Catalog=MISD;Persist Security Info=True;User ID=stupro;Password=C0mplex"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>